<li class="nav-item">
    <a class="btn btn-danger" asp-controller="CountriesbyGDP" asp-action="SearchResult">Search Result </a>
</li>

<li class="nav-item">
    <a class="btn btn-danger" asp-controller="CountriesbyGDP" asp-action="DynamicSQL">DynamicSQL </a>
</li>